@import "../../style/typography";
@import "../../style/components/page";
@import "../../style/spacing";

.cooldowns {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cooldown {
  margin: $spacing-margin-inner;

  display: block;
  height: 48px;
  width: 48px;
  background-color: rgba(255, 128, 128, 0.2);
  border-radius: 24px;
  flex-shrink: 0;

  background-repeat: no-repeat;
  background-size: 32px;
  background-position: center;

  transition: opacity ease-in-out 200ms, visibility ease-in-out 200ms;

  opacity: 0;
  visibility: hidden;

  &.cooldown_active {
    opacity: 1;
    visibility: visible;
  }

  &.cooldown_dash {
    background-image: url('/image/dash.svg');
  }

  &.cooldown_shoot {
    background-image: url('/image/shoot.svg');
  }

  &.cooldown_transform {
    background-image: url('/image/switch.svg');
  }
}
