@import "../../style/typography";
@import "../../style/components/page";
@import "../../style/spacing";

.cooldowns {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.cooldown {
  margin: $spacing-margin-inner;

  display: block;
  height: 48px;
  width: 48px;
  flex-shrink: 0;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  image-rendering: pixelated;

  transition: opacity ease-in-out 200ms, visibility ease-in-out 200ms;

  &.cooldown_dash {
    background-image: url('/image/Cooldown_Icon_Dash.png');
    &.cooldown_active {
      background-image: url('/image/Cooldown_Icon_Dash_inactive.png');
    }
  }

  &.cooldown_shoot {
    background-image: url('/image/Cooldown_Icon_Shoot.png');
    &.cooldown_active {
      background-image: url('/image/Cooldown_Icon_Shoot_inactive.png');
    }
  }

  &.cooldown_transform {
    background-image: url('/image/Cooldown_Icon_Change.png');
    &.cooldown_active {
      background-image: url('/image/Cooldown_Icon_Change_inactive.png');
    }
  }
}
