@import "../../style/variables";
@import "../../style/spacing";
@import "../../style/components/page";

.game {

}

.game__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: $color-dark-background-secondary;
}

.game__canvas {
  image-rendering: pixelated;
}

.game__virtual-controls {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 50;
  left: 0;
  bottom: 0;
  height: 100px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
}

.game__virtual-joystick-area {
  position: relative;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}


.game__menu-option {
  @include PageLink();

  appearance: none;
  border: none;
  box-shadow: none;
  padding: 0;

  margin: $spacing-margin-outer auto;
}

.game__hud-container {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
}

.game__hud-back {
  height: 40px;
  width: 60px;
  margin-right: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 20px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  background-image: url('/image/pause.svg');

  outline: none;
}

.game__hud-hearts {
  display: flex;

  transition: opacity ease-in-out 300ms;
  opacity: 0;

  &.game__hud-hearts_enabled {
    opacity: 1;
  }
}

.game__hud-heart {
  display: block;
  margin-right: 15px;
  width: 40px;
  height: 40px;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/image/life.png');

  opacity: 0.8;

  &.game__hud-heart_damaged {
    opacity: 0.25;
  }
}
