@import "../../style/variables";
@import "../../style/spacing";
@import "../../style/components/page";

.game {

}

.game__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: $color-dark-background-secondary;
}

.game__canvas {
  image-rendering: pixelated;
}

.game__menu-option {
  @include PageLink();

  appearance: none;
  border: none;
  box-shadow: none;
  padding: 0;

  margin: $spacing-margin-outer auto;
}