@import "../../style/typography";
@import "../../style/components/page";
@import "../../style/spacing";

.controls-menu {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.controls-menu__item {
  @include FontPixel();
  font-size: 28px;
  margin-top: 16px;
  &:nth-of-type(1) {
    padding-bottom: $spacing-padding-element;
  }

  @media screen and (max-height: 510px) {
    margin-top: 0;
  }
}

.controls-menu__button {
  @include PageLink();
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 0;
  margin-right: 0;

  appearance: none;
  border: none;
  box-shadow: none;

  background-color: transparent;
  font-size: 22px;

  @media screen and (max-height: 510px) {
    margin-top: 0;
    margin-bottom: 8px;
  }
}
