@import "../../style/typography";
@import "../../style/variables";
@import "../../style/spacing";

.menu {

  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);

  opacity: 0;
  visibility: hidden;
  z-index: -1;

  transition-property: visibility, opacity, z-index;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;

  will-change: visibility, opacity, z-index;

  &.menu_active {
    opacity: 1;
    visibility: visible;
    z-index: 1000;
  }
}

.menu__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin-left: $spacing-margin-outer;
  margin-right: $spacing-margin-outer;

  padding: $spacing-padding-container;
}

.menu__header {
  @include TypographyHeadingLarge();
  text-align: center;
  color: $color-light-text-primary;
  padding-bottom: $spacing-padding-element;
  @media screen and (max-height: 510px) {
    padding-bottom: 0;
  }
}

.menu__main {
  padding-top: $spacing-padding-element;
  color: $color-light-text-primary;
  @media screen and (max-height: 510px) {
    padding-top: $spacing-padding-particle;
  }
}

.menu__actions {

}
