@import "../../style/variables";
@import "../../style/typography";
@import "../../style/spacing";
@import "../../style/components/page";

.death-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 15px;

  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);

  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: all ease-in-out 1000ms;
  will-change: opacity, visibility, z-index;

  &.death-menu_active {
    opacity: 1;
    visibility: visible;
    z-index: 100;
  }
}

.death-menu__container {
  display: flex;
  flex-direction: column;
}

.death-menu__heading {
  @include TypographyHeadingLarge();
  margin-bottom: 3 * $spacing-margin-outer;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.death-menu__options {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

.death-menu__button {
  @include PageLink();
  flex-shrink: 0;
  width: fit-content;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: $spacing-margin-inner;
}
