@import "../../style/variables";
@import "../../style/components/page";

.settings {
  @include Page();
}

.settings__container {
  @include PageContainer();
}

.settings__heading {
  @include PageHeading();
}

.settings__block {
  @include PageBlock();
}

.settings__subheading {
  @include PageHeading();
  @include FontElegant();
  font-size: 36px;
  margin-bottom: 10px;
}

.settings__group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;

  margin: 10px 0;
}

.settings__label {
  @include FontPixel();
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  margin: 0 10px;
}

.settings__button {
  @include FontPixel();
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.2;
  margin: 0 10px;
  border: 1px solid $color-dark-text-primary;
  border-radius: 0;
  appearance: none;
  padding: 0 6px;
  background-color: white;
  cursor: pointer;
}

.settings__back {
  @include PageLink();
  background-color: transparent;
  border: none;
  box-shadow: none;
}
