$spacing-margin-inner: 16px !default;;
$spacing-margin-outer: 32px !default;;

$spacing-padding-container: 24px !default;;
$spacing-padding-element: 16px !default;;
$spacing-padding-particle: 8px !default;;

$border-radius-outer: 40px !default;;
$border-radius-inner: 2px !default;;