$color-palette-purple: #5e35b1 !default;
$color-palette-indigo: #3949ab !default;
$color-palette-blue: #1e88e5 !default;

$color-dark-text-primary: #212121 !default;
$color-dark-text-secondary: #616161 !default;
$color-dark-background-primary: #161616  !default;
$color-dark-background-secondary: #252535  !default;

$color-light-text-primary: #fafafa !default;
$color-light-text-secondary: #e0e0e0 !default;
