@import "../../style/variables";
@import "../../style/typography";
@import "../../style/components/page";

.home {
  @include Page();
  background-color: black;
}

.home__container {
  @include PageContainer();
}

.home__heading {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
}

.home__heading_special {
  @include FontElegant();
  display: block;
}

.home__group {
  @include PageBlock();
  margin-top: 35px;
}

.home__link {
  @include PageLink();

  &.home__link_inactive {
    color: lighten($color-dark-text-primary, 40);

    cursor: not-allowed;

    &:before {
      display: none;
    }
  }
}
