@import "../../style/variables";
@import "../../style/typography";
@import "../../style/components/page";

.home {
  @include Page();
  background-color: black;
}

.home__container {
  @include PageContainer();
}

.home__heading {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  @media screen and (max-height: 510px) {
    width: auto;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
  }
}

.home__heading_special {
  @include FontElegant();
  display: block;
}

.home__group {
  @include PageBlock();
  margin-top: 35px;

  @media screen and (max-height: 510px) {
    margin-top: 0;
    padding-bottom: 0;
  }
}

.home__link {
  @include PageLink();

  @media screen and (max-height: 510px) {
    margin-top: 0;
    margin-bottom: 0;
  }

  &.home__link_inactive {
    color: lighten($color-dark-text-primary, 40);

    cursor: not-allowed;

    &:before {
      display: none;
    }
  }
}
